# Variables de entorno para backend
APP_ENV=development
DATABASE_URL=postgresql://postgres:admin@localhost:5432/tfg_db
GOOGLE_CLIENT_ID=tu-google-client-id
GOOGLE_CLIENT_SECRET=tu-google-client-secret
GOOGLE_OAUTH_REDIRECT=http://127.0.0.1:8000/auth/google/callback
FRONTEND_URL=http://127.0.0.1:5173
CORS_ORIGINS=http://127.0.0.1:5173,http://localhost:5173
